NODE_ENV=development
PORT=4000

DATABASE_URL="mysql://usuario:password@localhost:3306/coopidrogas_db"

JWT_ACCESS_SECRET=cambia_este_secreto_en_produccion_min_10_caracteres
JWT_REFRESH_SECRET=cambia_este_otro_secreto_en_produccion_min_10_caracteres
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

CORS_ORIGIN=http://localhost:5173